.App {
    max-width: 860px;
    margin: 40px auto;
}

button{
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    color: #fff;
    background-color: #c23866;
}

.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}